*::before,*::after,*{box-sizing: border-box; margin: 0px 0px;}
:root {
	--clr-bg-curve: #181f2b;
	--clr-bg-fill: rgba(28, 34, 48, 1);
	--clr-cta: rgba(79, 196, 213, 1);
	--clr-text: white;
	--ff-title: "Raleway", sans-serif;
	--ff-body: "Open Sans", sans-serif;
}

html, body {
	width: 100%;
  height: 100%;
}

body {
	background-color: var(--clr-bg-fill);
	color: var(--clr-text);
	font-family: var(--ff-body);
	font-size: 16px;
	padding: 16px 16px;
}

h1,h2,h3,h4,h5,h6 { font-family: var(--ff-title); }

a { color: inherit; }

nav { padding: 1%; }

body > *:not(:first-child) {
	margin: 0px 0px 96px 0px;
}

.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.no-bullets {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav > ul {
	gap: 8px;
	font-size: 12px;
}

nav ul a {
	white-space: nowrap;
	text-decoration: none;
}

.hero {
	align-items: center;
	text-align: center;
}

.hero > * {
	margin: 0px 0px 16px 0px;
}

.hero > h1 {
	font-size: 26px;
	margin: 0px 0px 8px 0px;
}

.hero > p {
	font-family: var(--ff-body); 
	font-size:14px;
}

.hero > form > button[type="submit"] {
	border: none;
	background-color: var(--clr-cta);
	color: var(--clr-text);
	padding: 8px 16px;
	font-weight: bold;
	font-size: 15px;
  border-radius: 25px;
}

.hero > form > button[type="submit"]:hover {
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 30%);
}

.feature_card_container {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
}

.feature_card_container img {
	margin: 0px 0px 16px 0px;
}

.feature_card_container h2 {
	font-size: 19px;
	margin: 0px 0px 8px 0px;
}

.feature_card_container p {
	font-size: 15px;
}

.stay_productive_container > img {
	margin: 0px 0px 16px 0px;
}

.stay_productive_container > h2 {
	font-size: 21px;
	margin: 0px 0px 8px 0px;
}

.stay_productive_container > p {
	margin: 0px 0px 8px 0px;
	font-size: 15px;
}

.stay_productive_container > form > button[type="submit"] {
	border: none;
	border-bottom: 2px solid var(--clr-cta);
	background-color: rgba(0,0,0,0);
	color: var(--clr-cta);
	font-size: 15px;
	text-align: left;
	padding: 0px 0px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 2px;
}

.stay_productive_container > form > button[type="submit"]:hover {
	font-weight: bold;
}
