*::before,*::after,*{box-sizing: border-box; margin: 0px 0px;}
:root {
	--clr-bg-curve: #181f2b;
	--clr-bg-fill: rgba(28, 34, 48, 1);
	--clr-text: white;
	--ff-title: "Raleway", sans-serif;
	--ff-body: "Open Sans", sans-serif;
}

html, body {
	width: 100%;
  height: 100%;
}

body {
	background-color: var(--clr-bg-fill);
	color: var(--clr-text);
	font-family: var(--ff-body);
	padding: 16px 16px;
}

.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.no-bullets {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a { color: inherit; }

nav { padding: 1%; }

nav, ul {
	gap: 8px;
	font-size: 18px;
}

nav ul a {
	font-size: 14px;
	white-space: nowrap;
	text-decoration: none;
}
