*::before,
*::after,
* { box-sizing: border-box; margin: 0px 0px; }
:root {
	--clr-bg-curve: #181f2b;
	--clr-text: white;
	--ff-title: "Raleway", sans-serif;
	--ff-body: "Open Sans", sans-serif;
}
body { 
	width: 100%;
	height: 100%;
	background-color: black;
  color: var(--clr-text);
	font-family: var(--ff-body);
}
a:not(:is(:hover)) { text-decoration: none; } 
a { color: inherit; }

.bg-curve { fill: var(--clr-bg-curve); fill-opacity: 1; }
.foreground { margin: 0px 8px; }

.foreground header { 
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.foreground header nav { display: flex; gap: 32px; }
.foreground header nav img {
	/*aspect-ratio: 176/51.05;*/
	max-width: 176px;
	max-height: 51.05px;
}
.foreground header nav a {
	font-family: var(--ff-title);
	font-weight: 400;
	font-size: 18px;
}
.background {}
